body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(253, 111, 59);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 1%;
}
.half-width img{
    width: 100%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 191, 72), rgb(250, 70, 70));
    padding: 10px 40px;
    border-radius: 10px;
    color: azure;
    font-weight: 500;
}
h2{
    text-align: center;
    font-family: 700;
}
.Year{
    color: rgb(253, 111, 59);
}
.flexible-container{
    display: flex;
}
#illustrators{
    width: 40%;
   
  }
  .box-shadow{
    box-shadow: 10px 10px 40px gray;
    margin-left: 19px;
    margin-right: 21px;
    padding-left: 15px;
    padding-right: 18px;
    border-radius: 10px;
  }
  .mission-three{
    margin-left: 80px;
    margin-right: 70px;
  }
  .background-color-1{
    background-color: rgb(227, 247, 247);
  }
  .background-color-2{
    background-color: rgb(253, 244, 245);
  }
  .background-color-3{
    background-color: rgb(247, 235, 219);
  }